{% extends 'index.html' %}

<!--References blocks in base.html and will inherit the rest of the file-->
{% block head %} 
<html>
    <body id="dm-bg">
    </body>
</html>
{% endblock %}

{% block body %}
<section class="hero py-4" id="dm-bg">
    <div class="container dm-bg">
        <div class="row">
            <div class="col-lg-12" style="background-color: #1c1f23; ">
                <h1 style="color: #03DAC6;">Coming Soon 2021 :)</h1>
            </div>
        </div>
    </div>
</section>
{% endblock%}