{% extends 'index.html' %}

<!--References blocks in base.html and will inherit the rest of the file-->
{% block head %} 
<html>
    <body id="dm-bg">
    </body>
</html>
{% endblock %}

{% block body %} 

<!-- HERO SECTION-->
<section class="hero py-4" id="dm-bg">
    <div class="container dm-bg">
        <div class="row">
            <div class="col-lg-8" style="background-color: #1c1f23; ">
                <div class="hero-post shadow">
                    <div class="hero-post-content">
                        <div class="row">
                            <div class="col-md-4" style="padding-top: 12px;">
                                <img alt="Developer" class="img-fluid" src="static/ProfessionalPhoto.jpeg">
                                <div class="hero-badge">
                                    <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> Jan. 15, 2021</a>
                                    <a href="#">Carter Mooring</a>
                                </div>
                            </div>
                            <div class="col-md-8" style="padding-top: 12px;">
                                <h2 style="color: #BB86FC;">Welcome to Carter Mooring's Website</h2>
                                <p style="padding: 5px 5px 5px 5px;"> I am a Senior at Gonzaga University and pursuing a career in the field of Computer Science.  Currently, 
                                    I have the pleasure of being enrolled in intriguing courses that are helping broaden and enhance my 
                                    skills as a software engineer and a critical thinker. Along with these courses, I am active in Gonzaga’s 
                                    Robo Sub Club to earn hands-on embedded systems experience and expose myself to real field projects. Currently, 
                                    I am developing the <a style="text-decoration: none;" href='https://fiddl-dev.herokuapp.com/'>FiDDL</a> with my design team and I extremely excited about our progress thus far.
                                    I am excited about my next steps towads entering the workforce as I will soon be doing what I love for a living!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="hero-post shadow" style="background-color:#1c1f23; border: 3px solid #191c1f;">
                    <a id="useful-link" href='https://github.com/CarterKekoa?tab=repositories'>
                        <div class="hero-post-content" style="color: #03DAC6;">
                            <div class="row">
                                <div class="col-sm-2">
                                    <i id="useful-link-icon" class="fa fa-github" aria-hidden="true"></i>
                                </div>
                                <div class="col-sm-10">
                                    <p style="color: #03DAC6;" id="useful-link-name">GitHub Repo's</p>
                                </div>
                            </div>
                        </div>   
                    </a>
                </div>
                <div class="hero-post shadow" style="background-color:#1c1f23; border: 3px solid #191c1f;">
                    <a id="useful-link" href='https://www.linkedin.com/in/carter-mooring-b49355172/'>
                        <div class="hero-post-content" style="color: #03DAC6;">
                            <div class="row">
                                <div class="col-sm-2">
                                    <i id="useful-link-icon" class="fa fa-linkedin-square" aria-hidden="true"></i>
                                </div>
                                <div class="col-sm-10">
                                    <p id="useful-link-name" style="color: #03DAC6;">LinkedIn Page</p>
                                </div>
                            </div>
                        </div>   
                    </a>
                </div>
                <div id="shadow-space" class="hero-post shadow" style="background-color:#1c1f23; border: 3px solid #191c1f;">
                    <form id="useful-link" action="/resumeDownload">
                        <button name="resumeDownload" type="submit" style="border: none; background-color: #1c1f23;">
                            <div class="hero-post-content" style="color: #03DAC6;">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <i style="color: #03DAC6;" id="useful-link-icon" class="fa fa-paperclip" aria-hidden="true"></i>
                                    </div>
                                    <div class="col-sm-9">
                                        <div type="text">
                                            <p style="color: #03DAC6;" id="useful-link-name">My Resume</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-1">
                                        <i style="color: #03DAC6;" class="fa fa-download" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="hero-badge" style="font-size: 1em;">
                                    <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> Dec. 29th, 2020</a>
                                    <a href="#">Resume</a>
                                </div>
                            </div>  
                        </button>
                    </form> 
                </div>
            </div>
        </div>

    </div>
</section>

<!-- OTHER SECTION -->
<section class="hero py-4" id="dm-bg">
    <div class="container md-3">
        <div class="row">
            <div class="col-md-4" style="background-color: #212529; border: 1px solid #3700B3;">
                <div class="hero-post shadow">
                    <div class="hero-post-content">
                        <a id="useful-link" href='https://fiddl-dev.herokuapp.com/' style="color: #dee2e6;">
                            <h3 style="padding-top: 12px; color: #BB86FC;" id="proj-title">FiDDL (Face iD Door Lock)</h3>
                            <p id="proj-title" style="font-size: 1em;">Currently In Development</p>
                            <img alt="doorbell" class="img-fluid" src="static/doorbell.jpg">
                            <div class="container" style="padding-bottom: 3px; padding-top: 3px;">
                                <p style="color: #CF6679;"><b>(Deployment estimated to be fixed by Jan. 25)</b></p>
                                <p> This is a Personal Proposal senior design project, Flask web app that allows users to register an account and upload photos. These photos are stored in Google Firebase 
                                        and used with OpenCV facial recognition to allow hands-free user access to their home using Google Nest Doorbell and Nuki Smart Lock API communication.
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4" style="background-color: #1c1f23; border: 1px solid #3700B3;">
                <div class="hero-post shadow">
                    <div class="hero-post-content">
                        <a id="useful-link" href='https://enigmatic-plains-45117.herokuapp.com/' style="color: #dee2e6;">
                            <h3 style="padding-top: 12px; color: #BB86FC;" id="proj-title">Music Hub (MERN) Full Stack Website</h3>
                            <p id="proj-title" style="font-size: 1em;">(Developed 2020)</p>
                            <img alt="doorbell" class="img-fluid" src="static/musichub1.png">
                            <div class="container" style="padding-bottom: 3px; padding-top: 3px;">
                                <p> Full Stack MERN (MongoDB, Express, React, Node) website complete with user registration and database.
                                    Users can log in and edit their profile information which consists of 'Favorite Song' and other similar categories.
                                    This is a personal study web app that was made with the help of Udemy courses.
                                </p>
                            </div> 
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4" style="background-color: #212529; border: 1px solid #3700B3;">
                <div class="hero-post shadow">
                    <div class="hero-post-content">
                        <a id="useful-link" href='https://play.google.com/store/apps/details?id=com.CarterCalc.neededfinalgrade' style="color: #dee2e6;">
                            <h3 style="padding-top: 12px; color: #BB86FC;" id="proj-title">Final Grade Calculator APP</h3>
                            <p id="proj-title" style="font-size: 1em;">(Developed 2019)</p>
                            <img alt="doorbell" class="img-fluid" src="static/FGC.png">
                            <div class="container" style="padding-bottom: 3px; padding-top: 3px;">
                                <p> Final Grade Calculator App developed with Android Studio to calculate what grade a user needs to get on a Final Exam to get a user-specified Final Grade in the class.
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}